@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1628337853214') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mendian:before {
  content: "\e605";
}

.icon-menu:before {
  content: "\e501";
}

.icon-guanbi:before {
  content: "\e635";
}

.icon-kafei:before {
  content: "\e656";
}

.icon-zhanghuguanli:before {
  content: "\e61f";
}

.icon-caidan:before {
  content: "\e603";
}

.icon-right:before {
  content: "\e649";
}

.icon-denglu:before {
  content: "\e514";
}

.icon-shouye:before {
  content: "\e616";
}

.icon-gengduo:before {
  content: "\e610";
}

.icon-leftarrow:before {
  content: "\e521";
}

